html { 
    position: relative; 
    min-height: 100%; 
  }
body { 
    margin-bottom: 60px; 
    /*background-image: url('/static/back.png');*/
    background-size: 100%;
  }
.container{
    position: relative;
}
.index-box{
    position: relative;
    left:30px;
    color:white;
}
.work-box{
    position: relative;
    text-align: center;
    top:20px;
    bottom:10px;
    /*background-color: red;*/
}
#text-before{
    border-style: solid double;
    width:1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 24px;
    color:white;
    border-color: rgba(41, 44, 48, 0.556);
    /*background-color: black;*/
}
.text-after{
    border-style: solid double;
    width:1000px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color:white;
    background-color: rgba(41, 44, 48, 0.556);
    border-color: rgba(41, 44, 48, 0.556);
}
.test-audio{
    position: relative;
    text-align: center;
}
#myProgress {
    margin: 0 auto;
    width: 45%;
    background-color:rgb(17, 15, 15);
  }
  
#myBar {
    width: 20%;
    height: 30px;
    background-color: rgba(41, 44, 48, 0.556);
    text-align: center;
    line-height: 30px;
    color: white;
  }

  #page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}