packages:
  yum:
     freetype-devel: []
     libjpeg-turbo-devel: []
     libpng-devel: []

  option_settings:
    aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: Lionsourcing.settings.prod_aws_eb
    aws:elasticbeanstalk:container:python:
      WSGIPath: LionSourcing/wsgi.py
 

