{% extends 'main/layout.html'%}

{%block content %}
<div class='container'>
    <h1>&#8251;정제시 유의사항</h1>
    <h2>>>>(중요)정제해야 할 김주하 음성은 자연스러운 나레이션 말투이다</h2><br/>
    <h3>
    <ol>
    <li>김주하 목소리가 아닌 것들은 &#38;이 붙여서 서버에 제출하기! 예를 들어, 광고 음성이 들어 것</li><br/>
    <li>김주하 음성 중에 쉼표가 필요한 곳에는 쉼표 넣기! 예를 들어, 국회의원님들... 그러시면 안됩니다(국회의원 말하고 좀 쉬고 말하면 "," 넣기</li><br/>
    <li>숫자와 영어는 무조건 한글로, 들리는대로 노말라이즈. 예를들어,1998년 -> 천구백구십팔년, PNG 에서는 -> 피엔쥐에서는</li><br/>
    <li>맞춤법이 헷갈리면 인터넷 검색해서 정제</li><br/>
    <li>김주하가 뉴스 전달 할 때, 극적인 효과를 넣기 위해 오바하는 것들은 @ 표시하기! 예를들어, 격앙되어 있는 말투나 울먹이는 말투가 들어간다면(감정)</li><br/>
    <li>헷갈리는 것이 있으면 꼭 문의!</li>
   </ol>
    </h3>
</div>
{%endblock%}

